body{
    margin: 0;
    padding: 0;
    text-align: center;
}
main{
   height: 500px;
   width: 60%;
   margin-top: 100px;  
   border: 2px solid black;
   margin: auto;
   /* overflow: hidden; */
   position: relative;
}
.slide{
    height: 100%;
    width: 100%;
    position:absolute;
}

